<div class="row mb-2">
  <div class="col-9">
    <h1 class="display-6 mb-2"> Places</h1>
  </div>
</div>

<div class="row mb-2">
  <div class="col-9">
    <a class="btn btn-success" href="/places/new">New place</a>
  </div>
</div>

<p>
  <% for place in @places %>
      <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
  <% end %>
</p>

