<div class="row mb-2">
  <h1>New Place</h1>
</div>

<%= form_with model: @place do |form| %>
  <div class="row mb-4">
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </div>
  <div class="btn btn-success">
    <%= form.submit %>
  </div>
<% end %>